/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom properties */
:root{
    --hero-bg-color: #b4d0e7;
    --blue-btn-color: #0061ff;
    --fter-color: #000;
    --hdr-height: 75px;


    /* partners logoes background */
    --bg-designit: #a2d39b;
    --bg-asu: #61082b;
    --bg-uf: #0093ce;
    --bg-topps: #ff1c1c;
    --bg-wbr: #d5001f;
    --bg-hearst: #b4d0e7;
    --bg-lonely-planet: #0d2481;
    --bg-cco: #ffd830;

    --bg-main-logo: #f5f5f5;
}

/* generals */
body{
    font-family: "Opens Sans", sans-serif;
    padding-top: var(--hdr-height);
}

li{
    list-style: none;
}

/*some <a> on the page use default decoration and colors, we only modify <a> where is needed*/
a.btn{
    text-decoration: none;
}

/* every image needs resize */
img{
    max-width: 100%;
    height: auto;
}

hr{
    margin: 40px 0;
    width: 20%;
    color: lightgray;
}

h1{
    font-size: 4rem;
    font-weight: 900;
    padding-bottom: 50px;
}

h2{
    font-size: 2.2rem;
    padding-bottom: 40px;
}

h3{
    font-size: 1.5rem;
    padding-bottom: 30px;
}

h4{
    font-size: 1.5rem;
    margin-bottom: 15px;
}

h5{
    font-size: 1.05rem;
}

h6{
    font-size: 1rem;
    margin-bottom: 15px;
}

p{
    line-height: 1.4;
}

/* utilites */
.container-big{
    max-width: 1440px;
    margin: 0 auto;
}

.container-small{
    max-width: 1080px;
    margin: 0 auto;
}

.radio-btn{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.radio-btn.radio-checked{
    border: 5px solid var(--blue-btn-color);
}

.radio-btn.radio-unchecked{
    border: 2px solid gray;
}

.d-flex{
    display: flex;
}

.d-flex.justify-center{
    justify-content: center;
}

.d-flex.justify-space-between{
    justify-content: space-between;
}

.d-flex.f-wrap{
    flex-wrap: wrap;
}

.d-flex.align-center{
    align-items: center;
}

.d-flex.align-flex-start{
    align-items: flex-start;
}

.d-flex.f-gap10{
    gap: 10px;
}

.d-flex.f-gap40{
    gap: 40px;
}

.d-flex.f-rowgap20{
    row-gap: 20px;
}

.d-flex.flex-column{
    flex-direction: column;
}

.btn{
    padding: 15px 20px;
    position: relative;
}

.btn.btn-main{
    background-color: var(--blue-btn-color);
    color: white;
}

.btn.btn-secondary{
    background-color: white;
    color: black;
}

.btn.border-black{
    border: 1px solid black;
}

.btn:hover::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
}

.mr40{
    margin-right: 40px;
}

.mb1{
    margin-bottom: 10px;
}

.mb2{
    margin-bottom: 20px;
}

.mb3{
    margin-bottom: 30px;
}

.mb5{
    margin-bottom: 50px;
}

.border-bottom{
    border-bottom: 1px solid black;
}


/* HEADER */
header{
    height: var(--hdr-height);
    /* it's needed otherwise background is transparent */
    background-color: #fff;
    padding: 20px 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;    
}

header a{
    color: black;
    text-decoration: none;
}

header .logo{
    margin-right: 20px;
}

header a{
    padding: 10px;
}

/* MAIN */
section{
    margin-bottom: 100px;
}

main .btn{
    display: inline-block;
}

/* hero section */
section#hero{
    /* background may change */
    background: linear-gradient(var(--hero-bg-color) 85%, #FFF 15%);
    padding-top: 50px;
    font-size: 1.2rem;
}

#hero .flex-left{
    flex: 0 0 30%;
    position: relative;
}

#hero .flex-right{
    flex: 0 0 70%;
}

#hero .flex-left > *{
    margin-bottom: 30px;
}

#hero .fa-arrow-down{
    position: absolute;
    /* bottom at 15% should follow background */
    bottom: 15%;
    left: 0;
    padding-bottom: 10px;
}

/* shop section */
.card-flex{
    flex: 0 0 calc((100% - 80px) / 3);
}

.sopphing-cards-container{
    margin: 20px 0;
}

.card{
    border: 1px solid lightgray;
}

.card .card-title{
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 10px
}

.card .card-body{
    padding: 35px;
}

.fa-check{
    color: var(--blue-btn-color);
}

/* this is needed to overwrite .fa-ul default margin-left; this file needs to be linked AFTER fa's stylesheet in order for this to work*/
.fa-ul{
    margin-left: 25px;
}

.card-body .price{
    font-weight: bolder;
}

.card-body .price-recurrency{
    color: gray;
    margin-bottom: 50px;
}

.card-body ul li{
    padding: 5px;
}

.card-body .btn{
    width: 100%;
    text-align: center;
    margin: 0 auto 20px;
}

.card-body.d-flex .flex-left{
    flex-basis: 66%;
}

/* partners section */
#partners .flex-left{
    flex: 0 0 55%;
}

#partners .flex-right{
    flex: 0 0 45%;
    padding: 50px;
}

/* business section */
.business-promo-container{
    margin: 0 -30px;
}

#dropbox-business-promo .flex-item{
    width: calc(100% / 3);
    padding: 30px;
}

/* business clients */

.clients-logoes-container > *{
    flex: 0 0 calc(100% / 3);
}

.clients-logoes-container img{
    width: 50%;
}

/* this makes svgs white */
img.svg{
    filter:invert(1);
}

.clients-logoes-container .flex-item{
    flex: 0 0 50%;
    /* height is necessary to give the items squared appearance; it may change */
    height: 300px;
}

.clients-logoes-container .flex-item:hover{
    border: 20px solid rgba(255, 255, 255, .5);
}

#dropbox-business-clients .flex-center{
    background-color: var(--bg-main-logo);
    padding: 50px;
}

/* partners-logo backgrounds */
.bg-designit{
    background-color: var(--bg-designit)
}

.bg-asu{
    background-color: var(--bg-asu);
}

.bg-uf{
    background-color: var(--bg-uf);
}

.bg-topps{
    background-color: var(--bg-topps);
}

.bg-wbr{
    background-color: var(--bg-wbr);
}

.bg-hearst{
    background-color: var(--bg-hearst);
}

.bg-lonely-planet{
    background-color: var(--bg-lonely-planet);
}

.bg-cco{
    background-color: var(--bg-cco);
}

.business-clients-bottom{
    background-color: var(--hero-bg-color);
    color: #61082b;
    padding: 100px 0;
}

.business-clients-bottom .flex-left{
    flex: 0 0 60%;
}

.business-clients-bottom .flex-right{
    flex: 0 0 40%;
    text-align: right;
    align-self: flex-start;
}

/* need to overwrite h2 padding or it will offset h2 */
.business-clients-bottom h2{
    padding: 0;
}

/* FAQ */
.faq-row{
    padding: 30px 30px 30px 0;
    cursor: pointer;
}

.faq-answer{
    padding-top: 30px;
    display: none;
}

.faq-row:hover .faq-answer{
    display: block;
}

.faq-row:hover .fa-angle-down{
    display: none;
}

.faq-row:hover .faq-question::after{
    content: "\f106";
    font: var(--fa-font-solid);
}

/* FOOTER */
footer{
    background-color: var(--fter-color);
    color: white;
    padding: 70px 0;
}

footer a{
    text-decoration: none;
    color: white;
}

footer li{
    padding-bottom: 15px;
}

footer .flex-item{
    flex: 0 0 calc(100% / 5);
    margin-bottom: 50px;
}

.fter-top{
    padding-bottom: 50px;
}

footer .language-selector{
    padding-top: 25px;
    /* pad-right is used to determinate the above bar length */
    padding-right: 75px;
    border-top: 2px solid gray;
    color: gray;
    cursor: pointer;
}