/* !css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* !custom properties */
:root{
    --jumbo-bg-color: #b4d0e7;
    --blue-btn-color: #0061ff;    
    /* btn on hover color is same color, it is just given 80% opacity adding 80 at the end of hex */
    --blue-btn-color-on-hover: #0061ff80;
    --chat-color: #0d2481;
    --fter-color: #000;
    --navbar-hover-color: #eee9e2;
    --hdr-height: 50px;

    /** partners logoes background */
    --bg-designit: #a2d39b;
    --bg-asu: #61082b;
    --bg-uf: #0093ce;
    --bg-topps: #ff1c1c;
    --bg-wbr: #d5001f;
    --bg-hearst: #b4d0e7;
    --bg-lonely-planet: #0d2481;
    --bg-cco: #ffd830;
    --bg-main-logo: #f5f5f5;
}

/* !generals */
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Opens Sans", sans-serif;
    padding-top: var(--hdr-height);
}

li{
    list-style: none;
}

/*some <a> on the page use default decoration and colors, we only modify <a> where is needed*/
a.btn{
    text-decoration: none;
}

/* every image needs resize */
img{
    max-width: 100%;
    height: auto;
    display: block;
}

hr{
    margin: 60px 0;
    width: 25%;
    border: none;
    border-bottom: 1px solid lightgray;
}

h1{
    font-size: 4rem;
    font-weight: 900;
    padding-bottom: 50px;
}

h2{
    font-size: 2.2rem;
    padding-bottom: 40px;
}

h3{
    font-size: 1.5rem;
    padding-bottom: 30px;
}

h4{
    font-size: 1.5rem;
    margin-bottom: 15px;
}

h5{
    font-size: 1.05rem;
}

h6{
    font-size: 1rem;
    margin-bottom: 15px;
}

p{
    line-height: 1.4;
}

/* !utilites */
.container-big{
    max-width: 1440px;
    margin: 0 auto;
}

.container-small{
    max-width: 1080px;
    margin: 0 auto;
}

.radio-btn{
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid gray;
    cursor: pointer;
}

.radio-btn:checked{
    border: 5px solid var(--blue-btn-color);
}

/* # buttons */

.btn{
    padding: 15px 20px;
    display: inline-block;
}

.btn.btn-main{
    background-color: var(--blue-btn-color);
    color: white;
}

.btn.btn-secondary{
    background-color: white;
    color: black;
}

.btn.border-black{
    border: 1px solid black;
}

.btn.btn-main:hover{
    /* color is same color, it is given 80% opacity in the form hf #0061ff => #0061ff80*/
    background-color: var(--blue-btn-color-on-hover);
}

.mr4{
    margin-right: 40px;
}

.mb1{
    margin-bottom: 10px;
}

.mb2{
    margin-bottom: 20px;
}

.mb3{
    margin-bottom: 30px;
}

.mb5{
    margin-bottom: 50px;
}

.mb7{
    margin-bottom: 75px;
}

.mb10{
    margin-bottom: 100px;
}

.border-bottom{
    border-bottom: 1px solid lightgray;
}

/* !flex utilities */
.d-flex{
    display: flex;
}

.d-flex.justify-center{
    justify-content: center;
}

.d-flex.justify-space-between{
    justify-content: space-between;
}

.d-flex.f-wrap{
    flex-wrap: wrap;
    align-content: flex-start;
}

.d-flex.align-center{
    align-items: center;
}

.d-flex.align-flex-start{
    align-items: flex-start;
}

.d-flex.f-gap10{
    gap: 10px;
}

.d-flex.f-gap40{
    gap: 40px;
}

.d-flex.f-rowgap20{
    row-gap: 20px;
}

.d-flex.flex-column{
    flex-direction: column;
}

/* !HEADER */
header{
    height: var(--hdr-height);
    /* it's needed otherwise background is transparent */
    background-color: #fff;
    padding: 0 15px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;    
}

header .logo{
    padding-right: 10px;
}

header a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

/* not all navbar list elements have an hover fx */
header .main-list > li:not(.no-hover-fx):hover{
    background-color: var(--navbar-hover-color);
}

/* every list element is as high as header */
header .main-list > li{
    height: var(--hdr-height);
    /* instead of giving a class for every li element, display flex and align center are given here, even if utility exists */
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 20px;
}

/* if the dropdown menu has two columns, they both take 50% of the space, if it has only one column it will take all the width */
header .nav-dropdown > *{
    flex: 1 0 50%;
}

/* dropdowns menus are hidden*/
.nav-dropdown{
    display: none;
}

.nav-li-with-dropdown{
    position: relative;
}

/* when overing over list element with dropdown the dropdown appears, it is given displey flex to give the columns inside a proper layout */
header .nav-li-with-dropdown:hover .nav-dropdown{
    display: flex;
}

/* nav-dropdown with a single column dont need display flex */
header .nav-li-with-dropdown:hover .nav-dropdown.single-col{
    display: block;
}


/* dropdown menus are given display absolute otherwhise when open they will cause the parent li element to take their width */
header .nav-dropdown{
    position: absolute;
    background-color: var(--navbar-hover-color);
    top: 100%;

    padding: 15px 0;
    font-size: .75rem;
    z-index: 1;
}

header h6{
    padding: 10px 15px;
    font-weight: bold;
    font-size: .75rem;
}

/* all the row lenght must be clickable; display block allow the link to take all row lenght */
header .nav-dropdown a{
    display: block;
    padding: 10px 15px;
}

header .nav-dropdown a:hover{
    background-color: #e7e0d7;
}

/* every drop down with a single col has a predifined width*/
header .nav-dropdown.single-col{
    width: 250px;
}

/* sing columns on the left side of the header are aligned to the left... */
header .nav-dropdown.single-col.left{
    left: 0;
}

/* ...and columns on the right are aligned on the right */
header .nav-dropdown.single-col.right{
    right: 0;
}

.nav-dropdown.single-col .description{
    font-size: .6rem;
    padding-top: 5px;
    color: gray;
}

/* dropdowns with two columns on the left need to bo aligned so that they grow larger on the center side */
header .flex-left .nav-dropdown.d-flex{
    left: 0;
    right: -300px;
}

/* dropdowns with two columns on the right need to bo aligned so that they grow larger on the center side */
header .flex-right .nav-dropdown.d-flex{
    right: 0;
    left: -300px;
}

/* next two selectors controls columns on the "Prodotti" dropdown menu */
.dropdown-with-images .flex-left{
    flex: 0 0 15%;
}

.dropdown-with-images .flex-right{
    flex: 0 0 85%;
}

/* header button is a little bit shorter than the others so it needs some tweaking */
header .btn{
    padding: 13px;
    display: inline;
    font-weight: bold;
    margin-left: 5px;
}

/* animation for the "comincia subito" button */
header .btn .fa-arrow-right{
    padding: 0 10px 0 30px;
    transition: transform 300ms;
}

header .btn:hover .fa-arrow-right{
    transform: translateX(5px);
}

/* !MAIN */
/* every section has margin bottom */
section{
    margin-bottom: 100px;
}

/* !jumbo section */
section#jumbo{
    /* this way background is mainly the choosen color but the last bit is transparent as the rest of the main */
    background: linear-gradient(var(--jumbo-bg-color) 85%, transparent 15%);
    padding-top: 50px;
    font-size: 1.2rem;
}

#jumbo .flex-left{
    flex: 0 0 30%;
}

#jumbo .flex-right{
    flex: 0 0 70%;
}

#jumbo .link-to-shop{
    text-decoration: none;
    color: black;
}

/*! shop section */
/* padding gives it room on top so that h2 title doesnt go under header when click on arrow brings to this section */
#shop{
    padding-top: 100px;
}

/* every card takes one third of the width minus the 40px gaps between them */
.card-flex{
    flex: 0 0 calc((100% - 80px) / 3);
}

/* containers margin gives it room form the table under */
.shopping-cards-container{
    margin-bottom: 20px;
}

/* card property, they should be pretty self-explainatory */

.card{
    border: 1px solid lightgray;
}

.card .card-title{
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 10px
}

.card .card-body{
    padding: 35px;
}

.fa-check{
    color: var(--blue-btn-color);
}

/* this is needed to overwrite .fa-ul default margin-left; this file needs to be linked AFTER fa's stylesheet in order for this to work*/
.fa-ul{
    margin-left: 25px;
}

.card-body .price{
    font-weight: bolder;
}

.card-body .price-recurrency{
    color: gray;
    margin-bottom: 50px;
}

.card-body ul li{
    padding: 5px;
}

.shopping-cards-container .btn{
    display: block;
    text-align: center;
    margin: 20px 0;
}

.card-body.d-flex .flex-left{
    flex-basis: 66%;
}

/*! partners section */
/* just two flex items, left one's a litte bigger */
#partners .flex-left{
    flex: 0 0 55%;
}

#partners .flex-right{
    flex: 0 0 45%;
    padding: 50px;
}

/*! business section */
/* negative margin align content to main container */
.business-promo-container{
    margin: 0 -30px;
}

/* every item width is divided by 3 to have 3 columns, padding is used to give them gutter */
#dropbox-business-promo .flex-item{
    width: calc(100% / 3);
    padding: 30px;
}

/*! business clients */

/* this divides the client's logoes section in three columns */
.clients-logoes-container > *{
    flex: 0 0 calc(100% / 3);
}

.clients-logoes-container img{
    width: 60%;
}

/* this makes svgs white */
img.svg{
    filter:invert(1);
}

.clients-logoes-container .flex-item{
    flex: 0 0 50%;
    /* to be perfectly squared their height must also be the same as the width, which is 100vw / 3 columns / 2 per rows */
    height: calc(100vw / 6);
    border: 15px solid transparent;
}

/* effect on hover is just a transparent border */
.clients-logoes-container .flex-item:hover{
    border-color: rgba(255, 255, 255, .3);
}

/* main column between the logoes, it is given padding and background */
#dropbox-business-clients .flex-center{
    background-color: var(--bg-main-logo);
    padding: 50px;
}

/*! partners-logo backgrounds */
.bg-designit{
    background-color: var(--bg-designit)
}

.bg-asu{
    background-color: var(--bg-asu);
}

.bg-uf{
    background-color: var(--bg-uf);
}

.bg-topps{
    background-color: var(--bg-topps);
}

.bg-wbr{
    background-color: var(--bg-wbr);
}

.bg-hearst{
    background-color: var(--bg-hearst);
}

.bg-lonely-planet{
    background-color: var(--bg-lonely-planet);
}

.bg-cco{
    background-color: var(--bg-cco);
}

/* the free-trial card, background and text color are given; also lots of padding to properly give it height */
.business-clients-bottom{
    background-color: var(--jumbo-bg-color);
    color: #61082b;
    padding: 100px 0;
}

.business-clients-bottom .flex-left{
    flex: 0 0 60%;
}

/* to align button in the top right corner */
.business-clients-bottom .flex-right{
    flex: 0 0 40%;
    text-align: right;
    align-self: flex-start;
}

/* need to overwrite h2 padding or this particalar h2 won't be vertically aligned */
.business-clients-bottom h2{
    padding: 0;
}

/* this particular button is a little bit flatter than the others so it needs some tweaking. */
.business-clients-bottom .btn{
    padding-left: 75px;
    padding-right: 75px;
}

/*! FAQ */
.faq-row{
    /* no padding on the left */
    padding: 30px 30px 30px 0;
    cursor: pointer;
}

/* faq answer is not normally visible */
.faq-answer{
    padding-top: 30px;
    display: none;
}

/* on hover it becomes visible */
.faq-row:hover .faq-answer{
    display: block;
}


/* on hover the arrow down needs to no longer be visible and... */
.faq-row:hover .fa-angle-down{
    display: none;
}

/* ... be replaced by an arrow up */
.faq-row:hover .faq-question::after{
    content: "\f106";
    font: var(--fa-font-solid);
}

/*! CHAT */
#fixed-chat{
    width: 20vw;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px black;

    position: fixed;
    right: 1vw;
    bottom: 1vw;
    z-index: 1; 
}

.chat-top-bar{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: var(--chat-color);
    color: white;   
    padding: 10px;
    text-align: center;
    user-select: none;
}

/* this gives pointer to chat minimize and close buttons */
.chat-top-bar .flex-right i{
    cursor: pointer;
}

/* the center element will take as much space as it needs */
.chat-top-bar .flex-center{
    flex-grow: 1;
    font-weight: bold;
}

/* chat conversation window has a fixed height */
.chat-conversation{
    height: 35vh;
    overflow-y: auto;
}

/* chat body has 20px padding all sides but bottom has 5px */
.chat-body{
    padding: 20px 20px 5px 20px;
}

.text-row .sender{
    flex: 0 0 20%;
    /* align-self: flex end; this way avatar will always be aligned with the bottom of the text bubble*/
    align-self: flex-end;
    text-align: center;
}

.text-row .text-message{
    flex: 0 0 80%;
    padding: 15px;
    border-radius: 20px;
}

.text-row.chat-operator .sender{
    padding-right: 10px;
}

.text-row.chat-client .sender{    
    padding-left: 10px;
}

/* this makes the avatar a circle */
.sender-avatar{
    border-radius: 50%;
}

/* this make client logo gray */
.text-row.chat-client .sender-avatar{
    filter: grayscale(1);
}

/* sender name and chat engine text have same style */
.sender .sender-name,
.chat-engine span{
    font-size: .75rem;
    color: lightgray;
    user-select: none;
}

/* chat-operator text bubble has light blue background, and it is not round on the side where avatar is */
.text-row.chat-operator .text-message{
    background-color: #edf4ff;
    border-bottom-left-radius: 0;    
}

/* chat-client text bubble has light gray background, and it is not round on the side where avatar is */
.text-row.chat-client .text-message{
    background-color: #eee;
    border-bottom-right-radius: 0;
}

/* this divider separates chat conversation from text input */
.chat-bottom{
    border-top: 1px solid black;
    padding-top: 15px;
}

/* next two selector stylize textarea and send button */
.chat-bottom textarea{
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    resize: none;
    font-size: .9rem;
    margin-left: 10px;
}

.chat-bottom button{
    border: none;
    background-color: white;
    color: var(--chat-color);
    cursor: pointer
}

.chat-bottom .chat-db-logo{
    width: 40px;
}

.chat-teamsupport{
    display: inline-block;
    width: auto;
    height: .9rem;
}

/*! FOOTER */
footer{
    background-color: var(--fter-color);
    color: white;
    padding: 70px 0;    
}

footer a{
    text-decoration: none;
    color: white;
}

footer li{
    padding-bottom: 15px;
}

footer a:hover{
    color: #aaa;
}

/* 5 flex columns take 20% of space */
footer .flex-item{
    flex: 0 0 20%;
}

footer .language-selector{
    padding-top: 25px;
    /* pad-right is used to determinate the above divisor bar length */
    padding-right: 75px;
    border-top: 2px solid gray;
    color: gray;
    cursor: pointer;
}

footer .language{
    padding: 0 5px;
}

footer .language-selector:hover{
    color: white;
}